/**
全局修改样式
*/
h2 {
  position: relative;
  padding-left: .8rem;
}
h2:before {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 1.8rem;
  content: "";
  border-left: 5px solid #3eaf7c;
}
